<div class="section animated fadeIn">
  <div class="container captions">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-primary pgtwo-font">Services</h1>
      </div>
    </div>
    <div class="row text-center pgtwo-font">
      <h2>Full Project Consulting</h2>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <img src="images/consult.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center pgtwo-caption">Design Consults</h3>
        <p class="text-center pgtwo-caption">We work with you from the very beginning of your projects. Our firm has experince with all forms of rig design, from fixed platform rigs to SPAR systems.</p>
      </div>
      <div class="col-xs-4">
        <img src="images/project_management.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center pgtwo-caption">Project Management</h3>
        <p class="text-center pgtwo-caption">What differentiates us from our competition is our devotion to our customers. Few other firms are willing to take a project management role for the whole process. This approach allows your business to focus your time on other matters and allows for reduced staffing.</p>
      </div>
      <div class="col-xs-4">
        <img src="images/international_law.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center pgtwo-caption">International Regulatory Expertise</h3>
        <p class="text-center pgtwo-caption">Our firm retains world-renowned laywers skilled in navigating international petroleum regulations and experienced in negotiating with world governments to get your desired location every time.</p>
      </div>
    </div>
  </div>
</div>


</body></html>
