<div class="footer tabStrip">
  <ul class="nav text-center">
    <li class="col-xs-3"><a href="/">Home</a></li>
    <li class="col-xs-3"><a href="/about-us">About Us</a></li>
    <li class="col-xs-3"><a href="/contact-us">Contact Us</a></li>
    <li class="col-xs-3"><a href="/major-projects">Major Projects</a></li>
  </ul>
  <ul class="nav text-center">
    <li>Copyright 2017</li>
  </ul>
</div>
