<div class="footer container-fluid tabStrip color-background">
  <ul class="nav nav-tabs text-center">
    <li class="col-xs-3"><a href="#"><span class="col-sm-12">Home</span></a></li>
    <li class="col-xs-3"><a href="#"><span class="col-sm-12">About Us</span></a></li>
    <li class="col-xs-3"><a href="#"><span class="col-sm-12">Contact Us</span></a></li>
    <li class="col-xs-3"><a href="#"><span class="col-sm-12">Image Gallery</span></a></li>
  </ul>
  <ul class="white-text nav text-center">
    <li>Copyright 2017</li>
  </ul>
</div>
