<header>
  <div class="container-fluid header inner">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Conception Pétrolière</div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="container-fluid">
  <ul class="nav nav-tabs text-center">
    <li class="col-xs-3"><a href="#"><i class="fa fa-home fa-2x col-sm-12"></i><span class="col-sm-12">Home</span></a></li>
    <li class="col-xs-3"><a href="#"><i class="fa fa-info-circle fa-2x col-sm-12"></i><span class="col-sm-12">About Us</span></a></li>
    <li class="col-xs-3"><a href="#"><i class="fa fa-envelope fa-2x col-sm-12"></i><span class="col-sm-12">Contact Us</span></a></li>
    <li class="col-xs-3"><a href="#"><i class="fa fa-picture-o fa-2x col-sm-12"></i><span class="col-sm-12">Image Gallery</span></a></li>
  </ul>
</div>
