<div class="col-xs-12">
  <div class="jumbotron text-center">
    <p class="text-against-background">
    <strong>
      Conception Pétrolière: The world's finest petroleum engineers, all in one spot.
    </strong>
    </p>
  </div>
</div>
