<div class="col-lg-12 animated fadeIn">
  <div class="row text-center col-xs-6 col-xs-offset-3">
    <p>
    <strong>
      Conception Pétrolière: The world's finest petroleum engineers, located in the world's finest city.
    </strong>
    </p>
  </div>
</div>
