<div class="col-xs-12 animated fadeIn">
  <div class="row text-center col-xs-8">
    <div class="index-font">
      <span>
        <strong>
          Conception Pétrolière:
        </strong>
        <strong>
          International Petroleum Engineering Firm
        </strong>
      </span>
    </div>
  </div>
  <div class="col-xs-4">
  </div>
</div>
