<html>
  <head>
    <title>Placeholder</title>
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1 class="test">Linking test</h1>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
