<div class="container">
  <div class="gallery" id="main_area">
    <div class="row">
      <div class="col-xs-12" id="slider">
        <div class="row">
          <div class="col-sm-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">
                  <img src="images/project1.jpg"></div>
                <div class="item" data-slide-number="1">
                  <img src="images/project2.jpg"></div>
                <div class="item" data-slide-number="2">
                  <img src="images/project3.jpg"></div>
              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
          <div class="col-sm-4" id="carousel-text"></div>
          <div id="slide-content" style="display: none;">
            <div id="slide-content-0">
              <h2 class="pgtwo-caption">Statfjord A</h2>
              <h3 class="pgtwo-caption">North Sea, off the coast of Scotland</h3>
              <p class="pgtwo-caption sub-text">Construction: 25 August 1987 - 17 July 1990<p>
              <p class="pgtwo-caption sub-text">One of the largest sites in the North Sea, this was a collaboration with the French oil company Total.<p>
            </div>
            <div id="slide-content-1">
              <h2 class="pgtwo-caption">Spindlebottom</h2>
              <h3 class="pgtwo-caption">Gulf of Mexico, off the coast of Texas</h3>
              <p class="pgtwo-caption sub-text">Construction: 12 October 1995 - 13 April 2000<p>
              <p class="pgtwo-caption sub-text">Named in honor of the first oil drill in Texas (Spindletop), this field was organized with Exxon-Mobil and the Texas government. Our legal team was able to acquire a large government subsidy for this project, saving Exxon-Mobil several million dollars of capital.<p>
            </div>
            <div id="slide-content-2">
              <h2 class="pgtwo-caption">Duvanni</h2>
              <h3 class="pgtwo-caption">Caspian Sea, off the coast of Azerbaijan</h3>
              <p class="pgtwo-caption sub-text">Construction: 06 October 1973 - 11 November 1975<p>
              <p class="pgtwo-caption sub-text">The first major project of our firm, this was a collaboration with the then USSR. With a limited budget, a fully functional rig was constructed within the Caspian Sea and was recently moved and fitted to a new drill site with few repairs required.<p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row hidden-xs" id="slider-thumbs">
      <ul class="hide-bullets">
        <li class="col-sm-2">
          <a class="thumbnail" id="carousel-selector-0"><img src="images/project1.jpg"></a>
        </li>
        <li class="col-sm-2">
          <a class="thumbnail" id="carousel-selector-1"><img src="images/project2.jpg"></a>
        </li>
        <li class="col-sm-2">
          <a class="thumbnail" id="carousel-selector-2"><img src="images/project3.jpg"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
